/* 
    Document   : OpenM_SSOConnectionProxy
    Created on : 16 févr. 2014, 12:01:09
    Author     : Gaël Saunier
    Description:
        Purpose of the stylesheet follows.
*/

.OpenM_SSOConnectionProxy {
    width: 282px;
    height:44px;
    left: 50%;
    bottom: 5px;
    margin-left: -141px;
    position: fixed;
    background-color: silver;
    padding: 6px;
    -webkit-border-radius: 6px;    
}

.OpenM_SSOConnectionProxy iframe { 
    position : absolute;
    left: 22px;
    bottom: 16px;
    width: 1px;
    height: 1px;
    border: 0px;
    background-color:transparent;
    z-index: 1;   
}

.OpenM_SSOConnectionProxy_Message {
    position: absolute;
    left: 46px;
    font-size:  16px;
    bottom: 0px;
    height: 32px;
}

.OpenM_SSOConnectionProxy img { 
    height:  32px;
    width: 32px;
    position: relative;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: silver;
}